<a href="https://colab.research.google.com/github/CSC-122/lab7-substitution-cipher-Jennalsch/blob/main/HW_1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [2]:
import pandas as pd
data = pd.read_csv('/content/drive/MyDrive/DATA/olympic_medals.csv')

In [5]:
rows, columns = data.shape
print(f"Rows: {rows}, Columns: {columns}")

Rows: 2394, Columns: 8

In [6]:
print(data.dtypes)

Gender         object
Event          object
Location       object
Year            int64
Medal          object
Name           object
Nationality    object
Result         object
dtype: object

In [15]:
if 'City' in data.columns:
    unique_cities = data['City'].nunique()
    print(f"Unique cities:{unique_cities}")
else:
    print("Column 'City' does not exist in the DataFrame.")

Column 'City' does not exist in the DataFrame.

In [35]:
if 'City' in data.columns:
    unique_cities = data['City'].unique()
    num_unique_cities = len(unique_cities)
    print(f"Unique cities: {num_unique_cities}")
else:
    print("Column 'City' does not exist in the DataFrame.")

Column 'City' does not exist in the DataFrame.

In [36]:
if 'Nationality' in data.columns:
    usa_medals = data[data['Nationality'] == 'USA']
    num_usa_medals = usa_medals.shape[0]
    print(f"Number of medals won by USA team: {num_usa_medal}")
else:
    print("Column 'Nationality' does not exist in the DataFrame.")

NameError: name 'num_usa_medal' is not defined

In [33]:
if 'Nationality' in data.columns and 'Medal' in data.columns:
    medals_by_nationality = data.groupby(by='Nationality')['Medal'].count()
    print(medals_by_nationality)
else:
    print("Required columns for calculating medals by nationality are not present in the DataFrame.")

Nationality
ALG      9
ARG      4
AUS     57
AUT      4
BAH     12
      ...
URS    131
USA    638
VEN      2
YUG      1
ZAM      1
Name: Medal, Length: 97, dtype: int64